@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700;1,900&display=swap');

* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-image: url(fondocolores.jpg);
    background-size: auto;
    color:  #0f0f0f ;
    
}

ul {
    list-style: none;
}

a {
 text-decoration: none;
 color: inherit;
}

a.boton-descarga {
    background-color: #af599e;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius:  50px; 
    font-size: 20px;
    display: inline-block;
}

a.boton-descarga:hover {
    background-color: rgba(175, 89, 158, 0.8)  ;
    transition: background-color 0.3s;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 28px
}

p {
    line-height: 1.6;
    font-size: 18px;
    margin: 18px 0;
}

img {
    max-width: 100%;
}

.foto img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    border: solid rgba(170, 56, 132, 0.37);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px #0e0d0d;
}

#menu-button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

img#close-menu {
    display: none;
}

.logo {
    width:120px
}

nav {
    display: none;
}

ul#menu {
    display: flex;
    font-size: 20px;
}

li.menu-item a { 
    padding: 16px;
    display: inline-block;
}
li.menu-item:hover,
li.menu-item.active {
    background-color:  rgba(175, 89, 158, 0.3) ;
    transition: background-color 0.3s;
}

body.mobile-menu-active {
	overflow: hidden;
}

body.mobile-menu-active img#close-menu {
	display: block;
}

body.mobile-menu-active img#open-menu {
	display: none;
}

body.mobile-menu-active header {
	height: 100vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.3s;
}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
	height: 50%;
}

body.mobile-menu-active ul#menu {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}


main {
max-width: 1200px;
margin: auto;
}

section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
min-height: 100vh;
padding-top: 120px;
}

section#Inicio {
    flex-direction: column;
    justify-content: space-around;
}

figure.foto {
    margin-bottom: 20px;
}

figure.foto img {
    border-radius: 50%;
    width: 400px;
   
}
article.presentacion {
    width: 100%;
}

section#Contacto p {
    text-align: center;
    max-width: 600px;
}

article.hablemos {
    background: rgba(252, 250, 250, 0.582);
    text-align: center;
    padding: 20px;
    border-radius: 10px;

}



ul#redes-contacto {
    display: flex;
    margin-top: 20px;
}

ul#redes-contacto li {
   margin: 16px;
   padding: 8px;
   border-radius: 4px;
}

ul#redes-contacto li:hover {
    background-color: rgba(175, 89, 158, 0.3) ;
    transition: background-color 0.3s;
}

img.icono {
    width: 80px;
}

footer{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 250, 250, 0.582);;
    color:#0a0a0a;
}

/*Destop*/
@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
    }

    h2 {
        font-size: 32px;
    }

    section#Inicio {
        flex-direction: row;
    }

    article.presentacion {
        width: 50%;
    }

    ul#redes-contacto li {
        margin: 32px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    body.mobile-menu-active header {
        height: 90px;
        align-items: center;
    }

    body.mobile-menu-active nav {
        height: auto;
        width: auto;
    }

    body.mobile-menu-active ul#menu {
        flex-direction: row;
    }

}









